@model ReviewsAndRatings.Models.EstablishmentReview
@using ReviewsAndRatings.Enums

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Establishment Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Rating" />
            <div class="form-group">
                <label asp-for="IdEstablishment" class="control-label"></label>
                <input asp-for="IdEstablishment" class="form-control" readonly="readonly"/>
                <span asp-validation-for="IdEstablishment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <input asp-for="IdCustomer" class="form-control" readonly="readonly"/>
                <span asp-validation-for="IdCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" class="form-control" asp-items="Html.GetEnumSelectList<Rating>()" disabled="true"></select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea rows="3" asp-for="Review" class="form-control"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
